---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Articles - Fiduciaire Expert">
  <main style="padding: 4rem 2rem; text-align: center;">
    <h1>Nos Articles et Actualités</h1>
    <p>Retrouvez ici nos analyses sur la fiscalité et la comptabilité au Luxembourg.</p>
    <p>Le contenu de cette page sera bientôt disponible.</p>
  </main>
</Layout>