---
import Hero from '../components/Hero.astro';
import ServicesHighlight from '../components/ServicesHighlight.astro';
import AboutAndCTA from '../components/AboutAndCTA.astro'; // <-- 1. IMPORTER
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fiduciaire Expert | Votre cabinet comptable au Luxembourg.">
  <main>
    <Hero />
    <ServicesHighlight />
    <AboutAndCTA /> {/* <-- 2. PLACER ICI */}
  </main>
</Layout>